<!DOCTYPE html>
<html>
  <head>
    <title> jseckler </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/ico" href="../favicon.ico"></link>
    <style>
        body {
          max-width: 600px;
        }
    </style>
  </head>

  <body>
    <div class="logo-container">
      <img src="../logo.jpg" class="logo-image" />
    </div>

    ##exercicios##

    <br><br>
    <p class="back"><a href="index.html">π</a></p>

    <br>
    <p id="lastchange">
    Última modificação: 13-03-2023
    </p>
  </body>
